@model List<Ancient_costume.Models.Order>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderList</title>
</head>
<body>
    <!-- Services Start -->
    <div class="container-fluid bg-light service py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h1 class="section-title px-3">訂單明細</h1>
                <h5 class="mb-0">Orderlist</h5>
            </div>
            <div class="row g-4">

                @foreach (var item in Model)
                {
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                                    <div class="service-content text-start">
                                        <h5 class="mb-4">訂單編號:@item.Id</h5>
                                        <div class="mb-4">
                                            <div>
                                                訂單姓名:@item.Customersname
                                                訂單身份證:@item.TwId
                                                訂單電話:@item.Phone
                                                訂單地址:@item.Address
                                                訂單人數:@item.SelectPerson
                                                飲食習慣:@item.Selectfood
                                                孩童人數:@item.Selectchild
                                                特殊需求:@item.Message
                                            </div>
                                            <br>
                                            <div>
                                                旅遊名稱:@item.JourneyName
                                                旅遊內容:@item.JourneyContent
                                                旅遊景點:@item.Sights
                                                旅遊住宿:@item.Stay
                                            </div>
                                            <br>
                                            <div>
                                                旅遊費用項目:@item.ExpenseItems
                                            </div>
                                            <br>
                                            <div>
                                                旅遊費用-化妝:@item.MakeUpExpenses
                                                旅遊費用-拍照攝影:@item.Photo
                                                旅遊費用-交通:@item.Transportation
                                                旅遊費用-車資:@item.CarFare
                                                旅遊費用-住宿:@item.StayExpenses
                                                旅遊費用-活動:@item.Activity
                                                旅遊費用-食物:@item.Food
                                                旅遊集合地點:@item.AssemblyPlace
                                            </div>
                                        </div>
                                        <div>
                                            旅遊行程:@item.DailyItinerary
                                        </div>
                                        <div class="text-md-center">
                                            古裝:<img width="200" height="300" src="@Url.Content("~/source/costume/" + @item.custom + ".jpg")">
                                            妝容:<img width="200" height="300" src="@Url.Content("~/source/makeup/" + @item.makeup + ".jpg")">
                                            髮型:<img width="200" height="300" src="@Url.Content("~/source/hair/" + @item.hair + ".jpg")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Services End -->

</body>
</html>
