@model Ancient_costume.Models.Member

@{
    ViewBag.Title = "ForgotMember";
}


<div class="container">
    <h2>會員中心</h2>
    <h4>Member</h4>
    <hr />

    <form action="/Member/ForgotMember" method="post">
        <h4>忘記帳號密碼</h4>
        <div class="col-lg-8">
            <p>請輸入信箱地址，將寄送帳號密碼</p>
            <div>
                @Html.DisplayNameFor(model => model.Email)
            </div>

            <div>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" , id= "Email" } })
            </div>
            <button class="btn btn-primary" type="submit">寄出</button>
            <button class="btn btn-primary" id="autoinput" type="button">自動填值</button>
            <br>
            <br>@ViewBag.Message
        </div>
        <hr />
    </form>

    <form action="/Member/Editmember" method="post">
        <div>
            <h4>修改會員資料</h4>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="first-name">帳號<span class="require">*</span></label>
                <div class="col-lg-8">
                    <strong>@ViewBag.user</strong> 
                    @*<input type="text" id="first-name" name="username" class="form-control">*@
                    @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="first-name">密碼<span class="require">*</span></label>
                <div class="col-lg-8">
                    @*<input type="text" id="first-name" name="username" class="form-control">*@
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", name = "Password" } })
                    @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="first-name">電話<span class="require">*</span></label>
                <div class="col-lg-8">
                    原始電話: @ViewBag.phone
                    @*<input type="text" id="first-name" name="username" class="form-control" value="@ViewBag.phone">*@
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", name = "Phone", @value = "@ ViewBag.phone" } })
                    @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="first-name">Email<span class="require">*</span></label>
                <div class="col-lg-8">
                    原始Email: @ViewBag.email
                    @*<input type="text" id="first-name" name="username" class="form-control">*@
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", name = "Email", value = "ViewBag.email" } })
                    @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <button class="btn btn-primary" type="submit">修改</button>
        </div>
    </form>
    
    
    <br />

    <p>@Html.ActionLink("回首頁", "Index")</p>
</div>

@section MyJs {
    <script>
    $(document).ready(function () {
        $("#autoinput").click(function () {
            $("#Email").val("sara15560132@gmail.com");
        });
    });
    </script>
    }
