@model List<Ancient_costume.Models.Order>


@{
    ViewBag.Title = "Orderinfo";
}

@section MyCss{
    <style>
        table, th, td {
            border: 1px solid black;
            font-size: 20px;
            font-weight: 300;
        }

        body {
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        }

        #script-warning {
            display: none;
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            color: red;
        }

        #loading {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        #calendar {
            max-width: 1200px;
            margin: 40px auto;
            padding: 0 10px;
        }

        #employee {
            /*導航欄滾動到一定的位置才「黏附」在螢幕頂部*/
            position: sticky;
            /*指定觸發「sticky」效果的位置。*/
            top: 48px;
            width: 100%;
            padding: 70px;
            display: flex; /*實現水平排列的效果*/
            justify-content: center; /* 讓文字在導航欄中居中排列 */
        }
    </style>

    <link href="/Scripts/sweetalert2.min.css" rel="stylesheet" />
    <script src="/Scripts/sweetalert2.min.js"></script>
    <script src="/Scripts/Chart.js"></script>
    <script src="/Scripts/utils.js"></script>
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/locales-all.js"></script>
}

@*固定導航列，方便使用功能，並卷軸顯示隱藏、黏附頁面頂部*@
<nav id="employee" class="navbar navbar-expand-lg px-4 navbar-light px-lg-5 py-3 py-lg-0 text-center">
    <div class="navbar-nav py-4">
        @*回管理行程頁面*@
        <input type="button" name="collect" value="回管理行程" onclick="location.href='/Employee/Index'" class="btn btn-primary btn-lg" />
    </div>
</nav>

<div class="container">
    <h2>會員訂單明細</h2>
    @*用accordion修改檢視資料*@
    <div class="accordion" id="accordionExample">

        @foreach (var item in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-@item.Id">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapse-@item.Id">
                        會員ID:@item.MemberID 顧客姓名:@item.Customersname 訂單編號:@item.Id
                    </button>
                </h2>
                @*使用collapse-@item.Id將確保只允許一個項目同時打開，當用戶打開一個新項目時，其他打開的項目會自動關閉*@
                <div id="collapse-@item.Id" class="accordion-collapse collapse" aria-labelledby="heading-@item.Id" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-center">
                        <div class="card">
                            <div class="card-header">行程內容</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        行程編號:@item.JourneyId
                                    </div>
                                    <div class="col-md-2">
                                        行程編號:行程名稱:@item.JourneyName
                                    </div>
                                    <div class="col-md-2">
                                        行程內容:@item.JourneyContent
                                    </div>
                                    <div class="col-md-2">
                                        景點:@item.Sights
                                    </div>
                                    <div class="col-md-2">
                                        住宿:@item.Stay
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="card">
                            <div class="card-header">行程費用</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        行程費用項目:
                                        <br />
                                        @item.ExpenseItems
                                    </div>
                                    <div class="col-md-2">
                                        化妝費用:@item.MakeUpExpenses
                                    </div>
                                    <div class="col-md-2">
                                        拍照攝影費用:@item.Photo
                                    </div>
                                    <div class="col-md-2">
                                        交通費用:@item.Transportation
                                    </div>
                                    <div class="col-md-2">
                                        車資費用:@item.CarFare
                                    </div>
                                    <div class="col-md-2">
                                        住宿費用:@item.StayExpenses
                                    </div>
                                    <div class="col-md-2">
                                        活動費用:@item.Activity
                                    </div>
                                    <div class="col-md-2">
                                        食物費用:@item.Food
                                    </div>
                                    <div class="col-md-12">
                                        總費用:@{int totalExpenses =

                                    Convert.ToInt32(@item.MakeUpExpenses) +
                                    Convert.ToInt32(@item.Photo) +
                                    Convert.ToInt32(@item.Transportation) +
                                    Convert.ToInt32(@item.CarFare) +
                                    Convert.ToInt32(@item.StayExpenses) +
                                    Convert.ToInt32(@item.Activity) +
                                    Convert.ToInt32(@item.Food);

                                    @totalExpenses
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="card">
                            <div class="card-header">行程提醒</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        訂單日期:@item.OrderDate.Value.ToString("yyyy-MM-dd")
                                    </div>
                                    <div class="col-md-4">
                                        集合地點:@item.AssemblyPlace
                                    </div>
                                    <div class="col-md-4">
                                        每日行程:@item.DailyItinerary
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="card">
                            <div class="card-header">古裝選擇</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <label for="costume">所選古裝</label>
                                        <img id="costume" width="300" height="300" src="@Url.Content("~/source/costume/" + @item.custom + ".jpg")">
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <label for="makeup">所選妝容</label>
                                        <img id="makeup" width="300" height="300" src="@Url.Content("~/source/makeup/" + @item.makeup + ".jpg")">
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <label for="hair">所選髮型</label>
                                        <img id="hair" width="300" height="300" src="@Url.Content("~/source/hair/" + @item.hair + ".jpg")">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        @Html.ActionLink("刪除行程", "Deleteorder", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }



    </div>

    <br />

    <!--所有訂單明細-->
    @*預計設計填寫欄位篩選會員資料-使用時間*@
    @*延伸月報表圖表*@
    <h2>查詢會員訂單</h2>
    <form action="/Employee/Checkingorder" method="post">

        <div class="row">
            <div class="col-lg-3">
                <label for="textorder">輸入會員ID:</label>
                <input type="text" name="textorder" id="textorder" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label for="texttime">開始日期:</label>
                <input type="date" name="startDate" id="startDate" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label for="texttime">結束日期:</label>
                <input type="date" name="endDate" id="endDate" class="form-control" />
            </div>
            <div class="col-lg-3">
                <br />
                <button type="submit" class="btn btn-primary" id="Button1">查詢</button>
                @Html.ActionLink("回總訂單", "Orderinfo", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </form>

    <br />

    <h2>旅程排行榜</h2>

    <div>
        <div style="width: 70%;">
            <canvas id="myChart"></canvas>
        </div>


        <input type="hidden" id="HiddenField1" value="@ViewBag.xAry" />
        <input type="hidden" id="HiddenField2" value="@ViewBag.yAry" />
    </div>

    <br />

    <h2>旅程每月數量</h2>

    <div>
        <div style="width: 70%;">
            <canvas id="myChart2"></canvas>
        </div>

        <input type="hidden" id="HiddenField3" value="@ViewBag.aAry" />
        <input type="hidden" id="HiddenField4" value="@ViewBag.bAry" />
    </div>

    <br />

    <h2>旅程每月收入</h2>

    <div>
        <div style="width: 50%;">
            <canvas id="myChart3"></canvas>
        </div>

        <input type="hidden" id="HiddenField5" value="@ViewBag.cAry" />
        <input type="hidden" id="HiddenField6" value="@ViewBag.dAry" />
    </div>

    <br />

    <h2>訂單行事曆</h2>

    <div>
        <div id='calendar'></div>
    </div>
</div>

@section MyJs{
    <script>
        /*查詢成功提示*/
        $(function () {
            $("#Button1").click(function () {
                swal({
                    title: '完成',
                    text: "檔案查詢成功!",
                    type: 'success',
                });
            });
        });

        /*旅程排行榜*/
        var ctx = document.getElementById("myChart")
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: document.getElementById("HiddenField1").value.split(","),
                datasets: [{
                    label: '旅程數量',
                    data: document.getElementById("HiddenField2").value.split(","),
                    borderWidth: 1,
                    backgroundColor: GetColors(7),
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        /*旅程每月數量*/
        var ctx2 = document.getElementById("myChart2")
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: document.getElementById("HiddenField3").value.split(","),
                datasets: [{
                    label: '旅程數量',
                    data: document.getElementById("HiddenField4").value.split(","),
                    borderWidth: 2,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    fill: false
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        /*旅程每月收入*/
        var ctx3 = document.getElementById("myChart3")
        var myChart3 = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: document.getElementById("HiddenField5").value.split(","),
                datasets: [{
                    label: '旅程收入',
                    data: document.getElementById("HiddenField6").value.split(","),
                    borderWidth: 2,
                    backgroundColor: GetColors(3),
                }]
            },
        });

        /*訂單行事曆*/
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                initialDate: '@(DateTime.Now.ToString("yyyy-MM-dd"))',
                editable: true,
                navLinks: true, // can click day/week names to navigate views
                dayMaxEvents: true, // allow "more" link when too many events
                events: {
                    url: '/Employee/GetEvents',
                    failure: function () {
                        document.getElementById('script-warning').style.display = 'block'
                    }
                }
            });

            calendar.render();

            calendar.setOption('locale', "zh-TW");
        });

        // 滾動頁面，導航欄顯示、隱藏效果

        //window.pageYOffset 會返回當前頁面的垂直滾動位置
        let prevScrollPos = window.pageYOffset;
        const navbar = document.getElementById("employee");

        window.onscroll = function () {

            let currentScrollPos = window.pageYOffset;

            // 如果滾動位置小於0，導航欄顯示；否則隱藏(上一頁滾動位置<目前滾動位置)
            if (prevScrollPos < currentScrollPos) {
                // 滾動向上，隱藏導航欄
                navbar.style.top = "0";
            } else {
                // 滾動向下，顯示導航欄
                navbar.style.top = "-72px"; /* 導航欄的高度為 70px，大於可隱藏*/
            }
            prevScrollPos = currentScrollPos;
        };
    </script>
}

