@model Ancient_costume.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
}




<div class="container">
    <h1>登入會員</h1>
    <div class="content-form-page">
        @*彙整顯示帳號密碼錯誤*@
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @*form表單新增method="post",action=/Account/Login*@
        <form action="/Member/Login" method="post" role="form" class="form-horizontal form-without-legend">
            <div class="form-group">
                <label class="col-lg-2 control-label" for="first-name">User Name <span class="require">*</span></label>
                <div class="col-lg-2">
                    @*<input type="text" id="first-name" name="username" class="form-control">*@
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="last-name">Password <span class="require">*</span></label>
                <div class="col-lg-2">
                    @*<input type="text" id="first-name" name="password" class="form-control">*@
                    <!--更改PasswordFor=>隱藏密碼-->
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password" })
                    <button id="togglePassword" class="btn btn-default">顯示密碼</button>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            @*驗證碼產生*@
            <div class="col-lg-2">
                <img src="/Member/GenCode" alt="Alternate Text" />
                @*<input type="text" placeholder="Code" name="Code" value="" />*@
                @Html.EditorFor(model => model.Code, new { htmlAttributes    = new { @class = "form-control", placeholder = "Code", name = "Code" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>

            @ViewBag.Message<br />
            <div class="row">
                <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <button class="btn btn-primary" type="button" onclick="location.href='/Member/ForgotMember'">忘記帳號密碼</button>
                </div>
            </div>
        </form>

    </div>
</div>




@section MyJs
    {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#togglePassword").click(function () {
                var type = $("#password").attr("type") === "password" ? "text" : "password";
                $("#password").attr("type", type);
                // 更新按鈕的文字
                $(this).text(type === "password" ? "顯示密碼" : "隱藏密碼");
            });
        });
    </script>

}

